body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 40px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fb8b24;
    color: #5f0f40;
    border-bottom: 6px solid #0f4c5c;
    border-right: 6px solid #0f4c5c;
    border-radius: 20px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
p {
    font-weight: regular;
}
.card p:hover {
    color: purple;
    font-weight: bold;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
